<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>960836545640-t78pngnp9fvbkapmpdk4klkmf995v200.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.960836545640-t78pngnp9fvbkapmpdk4klkmf995v200</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>960836545640-1c4jvvfd5m3r962q9bq8muv8hq3pmfl1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCyZrGsF_M8MUPQk6XbakO06TOVCcQIiy0</string>
	<key>GCM_SENDER_ID</key>
	<string>960836545640</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jesuslcorominas.teamflowmanager.dev</string>
	<key>PROJECT_ID</key>
	<string>teamflow-manager-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>teamflow-manager-dev.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:960836545640:ios:46e9bcd887239447a5dfdd</string>
</dict>
</plist>